{% extends 'base.html.twig' %}


{% block title %}
{{ title }}
 {% endblock %}




{% block body %}
 <div >
  <a  href={{ path('burgers') }}> LISTE DE BURGER </a>
 </div>
<div >
 <img 
      src="{{ asset('images/tibo.png') }}" alt="">

</div>
{% endblock %}